{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>
            {% block title %}
            {% endblock%}
        </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'css/custom.css' %}" rel="stylesheet">
        
        <link rel="stylesheet" href="">
    </head>
    <body>
        <header class="">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand" href="#">Navbar</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                  <ul class="navbar-nav">
                    <li class="nav-item active">
                      <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Features</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Pricing</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link disabled" href="#">Disabled</a>
                    </li>
                  </ul>
                </div>
              </nav>
          </header>
          {% block content %}
          {% endblock %}
          <footer class="bg-dark text-light py-3" style="position:fixed;bottom:0;width:100%">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-6">
                      <!-- Left column content goes here -->
                    </div>
                    <div class="col-12 col-md-6 text-md-right">
                      <a href="#" class="text-light me-3"><i class="fab fa-facebook fa-lg"></i></a>
                      <a href="#" class="text-light me-3"><i class="fab fa-twitter fa-lg"></i></a>
                      <a href="#" class="text-light me-3"><i class="fab fa-instagram fa-lg"></i></a>
                    </div>
                  </div>
            </div>
          </footer>
          <script src="{% static 'jquery/jquery.min.js' %}"></script>
          <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    </body>
</html>